<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
    <div class="row">
        <div class=" col-md-4 col-xl-3">
            <button class="mx-auto f-center card bg-c-green order-card" aria-label="rh">
                <div class="card-block">
                    <i class="fa-solid fa-hands-holding-child"></i>
                </div>
            </button>
            <div class="pad-text">
                <h6 class="m-b-20 ">Recursos Humanos</h6>
            </div>
        </div>

        <div class=" col-md-4 col-xl-3">
            <button class="mx-auto f-center card bg-c-yellow order-card" aria-label="Clients">
                <div class="card-block">
                    <i class="fa-solid fa-user-tie"></i>
                </div>
            </button>
            <div class="pad-text">
                <h6 class="m-b-20 ">Clientes</h6>
            </div>
        </div>

        <div class=" col-md-4 col-xl-3">
            <button class="mx-auto f-center card bg-c-pink order-card" aria-label="Inv">
                <div class="card-block">
                    <i class="fa-solid fa-warehouse"></i>
                </div>
            </button>
            <div class="pad-text">
                <h6 class="m-b-20 ">Inventario</h6>
            </div>
        </div>
    </div>
</div>


<div class="btn-salir">
    <button class="btn btn-outline-danger" (click)="logOut()"> Salir <i
            class="fa-solid fa-right-from-bracket"></i></button>
</div>