<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<section class="light">
    <div class="container py-2">
        <h1 class="h1 text-center text-dark" id="pageHeaderTitle">Formatos de recursos humanos</h1>


        <article class="postcard light blue">
            <a class="postcard__img_link" routerLink="/formato">
                <img class="postcard__img" src="../assets/img/alta_nomina.png" alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a routerLink="/formato">FORMATO DE INFORMACIÓN ALTA</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-calendar-alt mr-2"></i>{{currentDate}}
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt"> es una estructura utilizada para presentar información de manera detallada, clara y organizada,
                    asegurando que el lector pueda comprender y analizar la información de manera eficiente.</div>
                <ul class="postcard__tagbox">
                </ul>
            </div>
        </article>

        <article class="postcard light blue">
            <a class="postcard__img_link" routerLink="/entrega-epp">
                <img class="postcard__img" src="../assets/img/entregaEPP.jpg"  alt="Image Title" />
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a routerLink="/entrega-epp">FORMATO ENTREGA EPP</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-calendar-alt mr-2"></i>{{currentDate}}
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Un formato de beneficiario es un documento estructurado utilizado
                    para identificar y registrar a una
                    persona o entidad que recibirá ciertos beneficios o servicios. Este formato es común en diversas
                    áreas, incluyendo seguros, finanzas, recursos humanos y programas de asistencia social.</div>
                <ul class="postcard__tagbox">
                </ul>
            </div>
        </article>


        <article class="postcard light blue">
            <a class="postcard__img_link" routerLink="/Beneficiario">
                <img class="postcard__img" src="../assets/img/beneficiario.png"  alt="Image Title"/>
            </a>
            <div class="postcard__text t-dark">
                <h1 class="postcard__title blue"><a routerLink="/Beneficiario">FORMATO DE BENEFICIARO</a></h1>
                <div class="postcard__subtitle small">
                    <i class="fas fa-calendar-alt mr-2"></i>{{currentDate}}
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Es un documento utilizado para registrar la distribución de los equipos de protección a los
                    empleados. Este formato garantiza que todos los trabajadores reciban el EPP necesario para realizar
                    sus tareas de manera segura y conforme a las normativas laborales y de seguridad.</div>
                <ul class="postcard__tagbox">
                </ul>
            </div>
        </article>
    </div>
</section>


<div class="btn-regresar">
    <button class="btn btn-outline-dark" (click)="regresar()"><i
            class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
        Regresar </button>
</div>