.container {
    margin-top: 50px;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#2a65a8,#7baadf);
}

.bg-c-green {
    background: linear-gradient(45deg,#1f967e,#76fce1);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#bb8438,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#ad394d,#f793a4);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 15px;
    
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.btn-salir
{
    position: fixed;
    bottom: 20px; 
    right: 20px; 
}

.pad-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}