body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.header .logo img {
    max-width: 100px;
}

form {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid #000;
    border-radius: 5px;
}

td {
    padding: 10px;
}

input[type="text"] {
    width: 80%;
}

input[type="checkbox"] {
    margin-right: 5px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}

ol {
    margin-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

.btn-regresar {
    position: fixed;
    bottom: 10px;
    /* distancia desde la parte inferior */
    left: 10px;
    /* distancia desde la parte izquierda */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-inicio {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

