.table-image {

  td,
  th {
    vertical-align: middle;
  }
}

button {
  margin-right: 5px;
}

.btn-accion {


}

.btn-regresar {
  position: fixed;
  bottom: 10px;
  /* distancia desde la parte inferior */
  left: 10px;
  /* distancia desde la parte izquierda */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-salir {
  position: fixed;
  bottom: 20px;
  right: 20px;
}